body {
	background-image: url('https://image.freepik.com/free-photo/interior-has-armchair-empty-white-wall_41470-1722.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center, fixed;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	overflow-y: auto;
}
.Title {
	font-size: 3em;
	margin-top:50px;
	margin-right:10px ;
	margin-left: 500px;
	color: #372f44;
}
.Title2 {
	font-size: 1em;
	margin-top:50px;
	margin-right:10px ;
	margin-left: 500px;
	color: #372f44;
}
.subtitle {
	margin-right:10px ;
	margin-left: 30px;
	color: #372f44;

}

.houses-list-item {
	min-height: 350px;
	margin: 40px;
	list-style: none;
	border: 1px solid #77777769;
	background-color: #fdfdfd;
	border-radius: 4px;
	padding: 30px 50px 0px 50px;
	box-shadow: 0 0 1em #80808066;
}

.houses-list-item-image {
	float: left;
	width: 100%;
	max-width: 356px;
	max-height: 200px;
	margin-right: 20px;
	margin-bottom: 5%;
}

.houses-list-item-title {
	font-size: 1.8em;
	font-family: 'Francois One';
	margin-bottom: 10px;
}

.houses-list-item-lede {
	display: block;
	margin-bottom: 50px;
}

.houses-list-item-byline {
	font-size: 0.8em;
	margin-bottom: 15px;
	color: #777777;
}

.houses-list-item-byline-price {
	font-weight: bolder;
}

.house {
	width: 80%;
	margin: 0 auto;
	max-width: 800px;
	font-size: 1.3em;
	line-height: 1.5em;
	background-color: white;
	padding: 5px 20px 5px 20px;
}

.house-title {
	font-family: 'Francois One';
	line-height: 1.5em;
}

.house-image {
	max-width: 100%;
}

.house-byline {
	color: #777777;
	font-size: 0.8em;
	margin-bottom: 5%;
}

.house-byline-price {
	font-weight: bolder;
}

.btn btn-outline-secondary{
	text-align: right;
	border: 2px solid #90b3b9!important;
}
.d-inline-block align-top{
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: right;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }
  .input{
	background-color: azure;
  }